@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Theme */
:root {
  --primary: #0f62fe;
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}
